name: Cypress tests for Saved Objects Management
on:
  pull_request:
    branches: ['**']
    paths:
      - 'cypress/integration/core-opensearch-dashboards/opensearch-dashboards/apps/saved_objects_management/**'
      - '.github/workflows/release-e2e-workflow-template.yml'
  push:
    branches: ['**']
    paths:
      - 'cypress/integration/core-opensearch-dashboards/opensearch-dashboards/apps/saved_objects_management/**'
      - '.github/workflows/release-e2e-workflow-template.yml'

jobs:
  tests-without-security:
    uses: ./.github/workflows/release-e2e-workflow-template.yml
    with:
      test-name: Saved Objects Management without security
      test-command: yarn cypress:run-without-security --browser electron --spec 'cypress/integration/core-opensearch-dashboards/opensearch-dashboards/apps/saved_objects_management/**'
      security-enabled: false
      artifact-name-suffix: -saved-objects-management-without-security

  tests-with-security:
    uses: ./.github/workflows/release-e2e-workflow-template.yml
    with:
      test-name: Saved Objects Management with security
      test-command: yarn cypress:run-with-security --browser electron --spec 'cypress/integration/core-opensearch-dashboards/opensearch-dashboards/apps/saved_objects_management/**'
      security-enabled: true
      artifact-name-suffix: -saved-objects-management-with-security
